/*====================================================================
siteFooter
====================================================================*/
footer {
  &.siteFooter {
    background-color: $darkGray;
    padding: 40px 0;

    .copyrights {
      text-align: center;
      font: normal 12px/1.7 $Outfit;
      letter-spacing: 1px;
      color: $lightGray;
    }
  }
}
